.innerFooterFrame-container{
    display: flex;
    flex-direction: column;
    flex: 1;
    text-align: left;
    gap: .625rem;
}
.footerHeader{
    font-size: 1.25rem;
}

.FooterElement{
    font-size: 1rem;
}