.navigationBar-container {
  display: flex;
  gap: 1.25rem; /* 버튼 간격 */
  align-items: center;

  position: relative;
  left: 10rem;
}

.nav-button {
  background: none; /* 버튼 배경 제거 */
  border: none; /* 버튼 테두리 제거 */
  cursor: pointer;
  font-size: 1rem;
  font-family: var(--font-gmarket-sans); /* root에 정의된 변수 사용 */
  font-weight: 300;
}

.nav-button:hover {
  color: #007bff; /* 호버 시 색상 변경 */
}

.dropdown-button {
  background: none;
  border: none;
  padding: 0.0625rem;
}

.dropdown-button:hover {
  color: #007bff;
}
