.navigationBar-container {
  display: flex;
  gap: 20px; /* 버튼 간격 */
  align-items: center;
  margin-left: 50px;
}

.nav-button {
  background: none; /* 버튼 배경 제거 */
  border: none; /* 버튼 테두리 제거 */
  cursor: pointer;
  font-size: 16px;
}

.nav-button:hover {
  color: #007bff; /* 호버 시 색상 변경 */
}

.dropdown-button {
  background: none;
  border: none;
  padding: 1px;
}

.dropdown-button:hover {
  color: #007bff;
}
