.searchBar-container {
  display: flex;
  position: relative; /* 자식 요소의 절대 위치 지정을 위해 */
  margin-top: 1.5px;
}

.searchBar-icon {
  position: absolute;
  top: 14px;
  left: 35px;

  width: 30px;
  height: 30px;
}

.searchBar-input {
  width: 491px;
  height: 30px;
  margin-top: 12px;
  margin-left: 30px;
  padding-top: 3px;
  padding-left: 40px; /* 아이콘 공간 확보 */
  border: 1px solid #000000;
}
