.searchBar-container {
  display: flex;
  position: relative; /* 자식 요소의 절대 위치 지정을 위해 */
  left: 5rem;
}

.searchBar-icon {
  width: 1.875rem;
  height: 1.875rem;

  position: absolute;
  top: .0625rem;
  left: .5rem;
}

.searchBar-input {
  width: 27.61875rem;
  height: 1.25rem;
  border: 1px solid #000000;

  padding: .5rem 1rem 0.25rem 2.6rem;
  
  border-radius: .1875rem;
  
  font-family: var(--font-gmarket-sans);
  font-size: .9375rem;
  font-weight: 500;

  line-height: 2rem;
  /* box-shadow: offset-x(필수: 좌우) offset-y(필수: 상하) blur-radius spread-radius color; */
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3); 
}

/* 클릭(포커스) 시 */
.searchBar-input:focus {
  outline: none;  /* 기본 테두리 제거 */
  border-color: #007bff;  /* 테두리 색상 변경 */
}