.logo-container {
  display: flex; /* 로고를 가로로 배치 */
  align-items: center; /* 세로 중앙 정렬 */
  cursor: pointer; /* 마우스 커서가 올려졌을 때 포인터로 변경 */
  margin-top: 1.5px;
  margin-left: 100px;
}

.logo-image {
  width: 30px;
  height: 30px;
  object-fit: contain; /* 이미지 비율 유지하며 크기 조정 */
}
